@font-face {
  font-family: 'icomoon';
  src:  url('icomoon-v1.0/icomoon.eot?acy0dr');
  src:  url('icomoon-v1.0/icomoon.eot?acy0dr#iefix') format('embedded-opentype'),
  url('icomoon-v1.0/icomoon.ttf?acy0dr') format('truetype'),
  url('icomoon-v1.0/icomoon.woff?acy0dr') format('woff'),
  url('icomoon-v1.0/icomoon.svg?acy0dr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconico-shopping-cart:before {
  content: "\e9e6";
  color: #5e6d87;
}
.iconico-interview:before {
  content: "\e9e7";
  color: #5e6d87;
}
.iconico-planet-earth:before {
  content: "\e9e8";
  color: #337afa;
}
.iconico-money:before {
  content: "\e9e9";
  color: #337afa;
}
.iconico-clock-2:before {
  content: "\e9ea";
  color: #337afa;
}
.iconico-padlock:before {
  content: "\e9eb";
  color: #337afa;
}
.iconico-experiment:before {
  content: "\e9e0";
  color: #337afa;
}
.iconico-award-1:before {
  content: "\e9e1";
  color: #337afa;
}
.iconico-chart-2:before {
  content: "\e9e2";
  color: #337afa;
}
.iconico-strategy:before {
  content: "\e9e3";
  color: #337afa;
}
.iconico-award:before {
  content: "\e9e4";
  color: #337afa;
}
.iconico-icon-edit-2:before {
  content: "\e9e5";
  color: #337afa;
}
.iconico-adjust-2:before {
  content: "\e9d9";
  color: #337afa;
}
.iconico-Edit:before {
  content: "\e9da";
  color: #337afa;
}
.iconico-link:before {
  content: "\e9db";
  color: #337afa;
}
.iconico-earnings:before {
  content: "\e9dc";
  color: #337afa;
}
.iconico-create-account:before {
  content: "\e9dd";
  color: #337afa;
}
.iconico-arrow-right-slider:before {
  content: "\e9de";
  color: #5e6d87;
}
.iconico-arrow-left-slider:before {
  content: "\e9df";
  color: #5e6d87;
}
.iconico-paper-plane:before {
  content: "\e9d8";
  color: #fff;
}
.iconico-exchange-left:before {
  content: "\e9d6";
  color: #fff;
}
.iconico-next:before {
  content: "\e9d7";
  color: #337afa;
}
.iconico-icon-unkonw-orange .path1:before {
  content: "\e9d4";
  color: rgb(255, 255, 255);
}
.iconico-icon-unkonw-orange .path2:before {
  content: "\e9d5";
  margin-left: -0.875em;
  color: rgb(255, 165, 0);
}
.iconico-explorer:before {
  content: "\e9d3";
  color: #fff;
}
.iconico-simple-dup-left:before {
  content: "\e9d0";
  color: #337afa;
}
.iconico-simple-dup-right:before {
  content: "\e9d1";
  color: #337afa;
}
.iconico-simple-right:before {
  content: "\e9d2";
  color: #337afa;
}
.iconico-print:before {
  content: "\e9c6";
  color: #1a315b;
}
.iconico-report:before {
  content: "\e9c7";
  color: #1a315b;
}
.iconico-embed:before {
  content: "\e9c8";
  color: #1a315b;
}
.iconico-clone:before {
  content: "\e9c9";
  color: #1a315b;
}
.iconico-row:before {
  content: "\e9ca";
  color: #1a315b;
}
.iconico-share-social:before {
  content: "\e9c5";
  color: #fff;
}
.iconico-global:before {
  content: "\e9c3";
  color: #9aa3b4;
}
.iconico-chat:before {
  content: "\e9cb";
  color: #fff;
}
.iconico-upload:before {
  content: "\e9cc";
  color: #fff;
}
.iconico-ipo:before {
  content: "\e9bf";
  color: #5e6d87;
}
.iconico-start:before {
  content: "\e9c0";
  color: #5e6d87;
}
.iconico-tool:before {
  content: "\e9c1";
  color: #5e6d87;
}
.iconico-supermarket:before {
  content: "\e9c2";
  color: #5e6d87;
}
.iconico-restart:before {
  content: "\e9be";
  color: #fff;
}
.iconico-info1:before {
  content: "\e9c4";
  color: #ec6423;
}
.iconico-a-z:before {
  content: "\e9bd";
  color: #1a315b;
}
.iconico-author:before {
  content: "\e9bc";
  color: #337afa;
}
.iconico-clock:before {
  content: "\e9bb";
  color: #337afa;
}
.iconico-arrow-download:before {
  content: "\e9ba";
  color: #fff;
}
.iconico-list-action:before {
  content: "\e9b9";
  color: #5e6d87;
}
.iconico-load-click:before {
  content: "\e9b6";
  color: #fff;
}
.iconico-security-bka .path1:before {
  content: "\e9b7";
  color: rgb(255, 255, 255);
}
.iconico-security-bka .path2:before {
  content: "\e9b8";
  margin-left: -0.8330078125em;
  color: rgb(255, 82, 82);
}
.iconico-success .path1:before {
  content: "\e9b3";
  color: rgb(96, 218, 168);
}
.iconico-success .path2:before {
  content: "\e9b4";
  margin-left: -1em;
  color: rgb(0, 206, 142);
}
.iconico-success .path3:before {
  content: "\e9b5";
  margin-left: -1em;
  color: rgb(255, 252, 220);
}
.iconico-eye:before {
  content: "\e9b2";
  color: #337afa;
}
.iconico-shield .path1:before {
  content: "\e9ad";
  color: rgb(51, 122, 250);
}
.iconico-shield .path2:before {
  content: "\e9ae";
  margin-left: -0.8330078125em;
  color: rgb(51, 122, 250);
}
.iconico-shield .path3:before {
  content: "\e9af";
  margin-left: -0.8330078125em;
  color: rgb(255, 255, 255);
}
.iconico-shield .path4:before {
  content: "\e9b0";
  margin-left: -0.8330078125em;
  color: rgb(255, 255, 255);
}
.iconico-shield .path5:before {
  content: "\e9b1";
  margin-left: -0.8330078125em;
  color: rgb(51, 122, 250);
}
.iconico-reload:before {
  content: "\e9a8";
  color: #5e6d87;
}
.iconico-cloud1:before {
  content: "\e9a9";
  color: #337afa;
}
.iconico-laptop1:before {
  content: "\e9aa";
  color: #337afa;
}
.iconico-account-1:before {
  content: "\e9ab";
  color: #337afa;
}
.iconico-home1:before {
  content: "\e9ac";
  color: #337afa;
}
.iconico-Access-Earning-Status:before {
  content: "\e9a1";
  color: #bccbee;
}
.iconico-List-Folders:before {
  content: "\e9a2";
  color: #bccbee;
}
.iconico-Delete-Folder:before {
  content: "\e9a3";
  color: #bccbee;
}
.iconico-CheckStatus:before {
  content: "\e9a4";
  color: #bccbee;
}
.iconico-settings:before {
  content: "\e9a5";
  color: #bccbee;
}
.iconico-setting2:before {
  content: "\e9a6";
  color: #bccbee;
}
.iconico-plus:before {
  content: "\e9a7";
  color: #bccbee;
}
.iconico-attach:before {
  content: "\e99f";
  color: #5e6d87;
}
.iconico-caret-right:before {
  content: "\e99e";
  color: #5e6d87;
}
.iconico-down-chevrons:before {
  content: "\e99c";
  color: #5e6d87;
}
.iconico-caret-down:before {
  content: "\e99d";
  color: #5e6d87;
}
.iconico-heart:before {
  content: "\e98f";
  color: #fff;
}
.iconico-folder-trans:before {
  content: "\e991";
  color: #fff;
}
.iconico-fullscreen:before {
  content: "\e992";
  color: #5e6d87;
}
.iconico-download-DLC:before {
  content: "\e993";
  color: #5e6d87;
}
.iconico-recheck:before {
  content: "\e994";
  color: #5e6d87;
}
.iconico-folder .path1:before {
  content: "\e995";
  color: rgb(239, 206, 74);
}
.iconico-folder .path2:before {
  content: "\e996";
  margin-left: -1.2001953125em;
  color: rgb(235, 186, 22);
}
.iconico-close-button:before {
  content: "\e997";
  color: #f30;
}
.iconico-exchange:before {
  content: "\e998";
  color: #5e6d87;
}
.iconico-check-mark:before {
  content: "\e987";
  color: #337afa;
}
.iconico-icon-key:before {
  content: "\e985";
  color: #b9b5b5;
}
.iconico-icon-use-input:before {
  content: "\e986";
  color: #b9b5b5;
}
.iconico-icon-lock:before {
  content: "\e983";
  color: #b9b5b5;
}
.iconico-icon-email:before {
  content: "\e984";
  color: #b9b5b5;
}
.iconico-icon-warring:before {
  content: "\e982";
  color: #ec6423;
}
.iconico-icon-page-terms-conditions .path1:before {
  content: "\e93c";
  color: rgb(255, 255, 255);
}
.iconico-icon-page-terms-conditions .path2:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(51, 122, 250);
}
.iconico-icon-page-terms-conditions .path3:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(51, 122, 250);
}
.iconico-icon-page-terms-conditions .path4:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(70, 69, 91);
}
.iconico-icon-page-terms-conditions .path5:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(51, 122, 250);
  opacity: 0.1;
}
.iconico-icon-page-terms-conditions .path6:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(238, 239, 240);
}
.iconico-icon-page-terms-conditions .path7:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(51, 122, 250);
}
.iconico-icon-page-terms-conditions .path8:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(55, 62, 70);
}
.iconico-icon-page-terms-conditions .path9:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(55, 62, 70);
}
.iconico-icon-page-terms-conditions .path10:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(55, 62, 70);
}
.iconico-icon-page-terms-conditions .path11:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(55, 62, 70);
}
.iconico-icon-page-terms-conditions .path12:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(55, 62, 70);
}
.iconico-icon-page-terms-conditions .path13:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(55, 62, 70);
}
.iconico-icon-page-terms-conditions .path14:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(238, 239, 240);
}
.iconico-icon-page-terms-conditions .path15:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(51, 122, 250);
}
.iconico-icon-page-terms-conditions .path16:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(55, 62, 70);
}
.iconico-icon-page-terms-conditions .path17:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(55, 62, 70);
}
.iconico-icon-page-terms-conditions .path18:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(55, 62, 70);
}
.iconico-icon-page-terms-conditions .path19:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(55, 62, 70);
}
.iconico-icon-page-terms-conditions .path20:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(55, 62, 70);
}
.iconico-icon-page-terms-conditions .path21:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(55, 62, 70);
}
.iconico-icon-page-terms-conditions .path22:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(238, 239, 240);
}
.iconico-icon-page-terms-conditions .path23:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(51, 122, 250);
}
.iconico-icon-page-terms-conditions .path24:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(55, 62, 70);
}
.iconico-icon-page-terms-conditions .path25:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(55, 62, 70);
}
.iconico-icon-page-terms-conditions .path26:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(55, 62, 70);
}
.iconico-icon-page-terms-conditions .path27:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(55, 62, 70);
}
.iconico-icon-page-terms-conditions .path28:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(55, 62, 70);
}
.iconico-icon-page-terms-conditions .path29:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(55, 62, 70);
}
.iconico-icon-page-terms-conditions .path30:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.1;
}
.iconico-icon-page-terms-conditions .path31:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.iconico-icon-page-terms-conditions .path32:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(51, 122, 250);
}
.iconico-icon-page-terms-conditions .path33:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(55, 62, 70);
}
.iconico-icon-page-terms-conditions .path34:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(55, 62, 70);
}
.iconico-icon-page-terms-conditions .path35:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(55, 62, 70);
}
.iconico-icon-page-terms-conditions .path36:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(55, 62, 70);
}
.iconico-icon-page-terms-conditions .path37:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(55, 62, 70);
}
.iconico-icon-page-terms-conditions .path38:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(55, 62, 70);
}
.iconico-icon-page-terms-conditions .path39:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(55, 62, 70);
}
.iconico-icon-page-terms-conditions .path40:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(55, 62, 70);
}
.iconico-icon-page-terms-conditions .path41:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(239, 183, 185);
}
.iconico-icon-page-terms-conditions .path42:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(239, 183, 185);
}
.iconico-icon-page-terms-conditions .path43:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(70, 67, 83);
}
.iconico-icon-page-terms-conditions .path44:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(70, 67, 83);
}
.iconico-icon-page-terms-conditions .path45:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(70, 67, 83);
}
.iconico-icon-page-terms-conditions .path46:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.1;
}
.iconico-icon-page-terms-conditions .path47:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.1;
}
.iconico-icon-page-terms-conditions .path48:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.1;
}
.iconico-icon-page-terms-conditions .path49:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(239, 183, 185);
}
.iconico-icon-page-terms-conditions .path50:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.1;
}
.iconico-icon-page-terms-conditions .path51:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(239, 183, 185);
}
.iconico-icon-page-terms-conditions .path52:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(51, 122, 250);
}
.iconico-icon-page-terms-conditions .path53:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.1;
}
.iconico-icon-page-terms-conditions .path54:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(239, 183, 185);
}
.iconico-icon-page-terms-conditions .path55:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(51, 122, 250);
}
.iconico-icon-page-terms-conditions .path56:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(239, 183, 185);
}
.iconico-icon-page-terms-conditions .path57:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.1;
}
.iconico-icon-page-terms-conditions .path58:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(51, 122, 250);
}
.iconico-icon-page-terms-conditions .path59:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(70, 67, 83);
}
.iconico-icon-page-terms-conditions .path60:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.1;
}
.iconico-icon-page-terms-conditions .path61:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.1;
}
.iconico-icon-page-terms-conditions .path62:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.1;
}
.iconico-icon-page-terms-conditions .path63:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.1;
}
.iconico-icon-page-terms-conditions .path64:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(70, 69, 91);
}
.iconico-icon-page-terms-conditions .path65:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(51, 122, 250);
}
.iconico-icon-page-terms-conditions .path66:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(51, 122, 250);
}
.iconico-icon-page-terms-conditions .path67:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(70, 69, 91);
}
.iconico-icon-page-terms-conditions .path68:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(51, 122, 250);
  opacity: 0.1;
}
.iconico-icon-page-terms-conditions .path69:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(168, 168, 168);
}
.iconico-icon-page-terms-conditions .path70:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.2;
}
.iconico-convert:before {
  content: "\e93b";
  color: #337afa;
}
.iconico-affiliate:before {
  content: "\e931";
  color: #337afa;
}
.iconico-gear:before {
  content: "\e932";
  color: #337afa;
}
.iconico-cash:before {
  content: "\e933";
  color: #337afa;
}
.iconico-cloud:before {
  content: "\e934";
  color: #337afa;
}
.iconico-laptop:before {
  content: "\e935";
  color: #337afa;
}
.iconico-account:before {
  content: "\e936";
  color: #337afa;
}
.iconico-look-zoom:before {
  content: "\e937";
  color: #337afa;
}
.iconico-dollar:before {
  content: "\e926";
  color: #5e6d87;
}
.iconico-file:before {
  content: "\e927";
  color: #5e6d87;
}
.iconico-icon-close:before {
  content: "\e928";
  color: #1a315b;
}
.iconico-icon-manager:before {
  content: "\e929";
  color: #5e6d87;
}
.iconico-icon-payments:before {
  content: "\e92a";
  color: #5e6d87;
}
.iconico-interface:before {
  content: "\e92b";
  color: #5e6d87;
}
.iconico-logout:before {
  content: "\e92c";
  color: #ff6e00;
}
.iconico-notes1:before {
  content: "\e92d";
  color: #5e6d87;
}
.iconico-question:before {
  content: "\e92e";
  color: #5e6d87;
}
.iconico-setting1:before {
  content: "\e92f";
  color: #5e6d87;
}
.iconico-tools-and-utensils:before {
  content: "\e930";
  color: #5e6d87;
}
.iconico-arrow-top:before {
  content: "\e925";
  color: #5e6d87;
}
.iconico-advertising:before {
  content: "\e900";
  color: #5e6d87;
}
.iconico-arrow-down:before {
  content: "\e901";
  color: #5e6d87;
}
.iconico-arrow-right:before {
  content: "\e902";
  color: #5e6d87;
}
.iconico-calendar:before {
  content: "\e903";
  color: #5e6d87;
}
.iconico-cancel-circle:before {
  content: "\e904";
  color: #fe4d21;
}
.iconico-clickload:before {
  content: "\e905";
  color: #fff;
}
.iconico-cnl2:before {
  content: "\e906";
  color: #337afa;
}
.iconico-dashboard:before {
  content: "\e907";
  color: #337afa;
}
.iconico-delete-button:before {
  content: "\e908";
  color: #5e6d87;
}
.iconico-document-list:before {
  content: "\e909";
  color: #337afa;
}
.iconico-duplicate-document:before {
  content: "\e90a";
  color: #5e6d87;
}
.iconico-email-open:before {
  content: "\e90b";
  color: #337afa;
}
.iconico-home:before {
  content: "\e90c";
  color: #5e6d87;
}
.iconico-icon-edit:before {
  content: "\e90d";
  color: #337afa;
}
.iconico-icon-option:before {
  content: "\e90e";
  color: #337afa;
}
.iconico-icon-security-bg:before {
  content: "\e90f";
  color: #337afa;
}
.iconico-icon-submit:before {
  content: "\e910";
  color: #fff;
}
.iconico-jdownloader .path1:before {
  content: "\e911";
  color: rgb(0, 0, 0);
}
.iconico-jdownloader .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(51, 122, 250);
}
.iconico-link-document:before {
  content: "\e913";
  color: #337afa;
}
.iconico-link-logo .path1:before {
  content: "\e914";
  color: rgb(51, 122, 250);
}
.iconico-link-logo .path2:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.iconico-link-offset:before {
  content: "\e916";
  color: #337afa;
}
.iconico-Menu:before {
  content: "\e917";
  color: #003b59;
}
.iconico-minus-circle:before {
  content: "\e918";
  color: #1a315b;
}
.iconico-notes:before {
  content: "\e919";
  color: #5e6d87;
}
.iconico-notifications:before {
  content: "\e91a";
  color: #5e6d87;
}
.iconico-reply:before {
  content: "\e91b";
  color: #337afa;
}
.iconico-rsdf:before {
  content: "\e91c";
  color: #337afa;
}
.iconico-Search-Icon:before {
  content: "\e91d";
  color: #337afa;
}
.iconico-security:before {
  content: "\e91e";
  color: #337afa;
}
.iconico-setting:before {
  content: "\e91f";
  color: #5e6d87;
}
.iconico-share-word:before {
  content: "\e920";
  color: #5e6d87;
}
.iconico-statistics:before {
  content: "\e921";
  color: #5e6d87;
}
.iconico-ticket:before {
  content: "\e922";
  color: #5e6d87;
}
.iconico-website:before {
  content: "\e923";
  color: #5e6d87;
}
.iconico-zoom-in-button:before {
  content: "\e924";
  color: #5e6d87;
}
.iconico-telegram:before {
  content: "\e9cf";
}
.iconico-user-o:before {
  content: "\e938";
}
.iconico-user-circle:before {
  content: "\e939";
}
.iconico-user:before {
  content: "\e93a";
}
.iconico-twitter-with-circle:before {
  content: "\e9cd";
}
.iconico-facebook-with-circle:before {
  content: "\e9ce";
}
.iconico-dots-horizontal-triple:before {
  content: "\e98e";
}
.iconico-info:before {
  content: "\e990";
}
.iconico-help-circle:before {
  content: "\e9a0";
}
.iconico-arrow_right:before {
  content: "\e999";
}
.iconico-arrow_drop_up:before {
  content: "\e99a";
}
.iconico-arrow_drop_down:before {
  content: "\e99b";
}
.iconico-instagram:before {
  content: "\e988";
}
.iconico-brand:before {
  content: "\e988";
}
.iconico-social:before {
  content: "\e988";
}
.iconico-pinterest:before {
  content: "\e989";
}
.iconico-brand1:before {
  content: "\e989";
}
.iconico-social1:before {
  content: "\e989";
}
.iconico-linkedin:before {
  content: "\e98a";
}
.iconico-brand2:before {
  content: "\e98a";
}
.iconico-social2:before {
  content: "\e98a";
}
.iconico-facebook:before {
  content: "\e98b";
}
.iconico-brand3:before {
  content: "\e98b";
}
.iconico-social3:before {
  content: "\e98b";
}
.iconico-twitter:before {
  content: "\e98c";
}
.iconico-brand4:before {
  content: "\e98c";
}
.iconico-tweet:before {
  content: "\e98c";
}
.iconico-social4:before {
  content: "\e98c";
}
.iconico-google:before {
  content: "\e98d";
}
.iconico-brand5:before {
  content: "\e98d";
}
